//
//  Release.xcconfig.example
//  Test_AMO
//
//  Created by Guillaume on 29/10/2025.
//

// Configuration Release - NE PAS COMMITER
//
// INSTRUCTIONS :
// 1. Copiez ce fichier et renommez-le en "Release.xcconfig"
// 2. Remplacez "YOUR_RELEASE_API_KEY_HERE" par votre vraie clé API Pexels de production
// 3. NE COMMITEZ JAMAIS le fichier Release.xcconfig dans Git

API_KEY_VALUE = YOUR_RELEASE_API_KEY_HERE

